:root {
  --branding-color: #6c63ff;
  --header-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
  --accent-header-color: #272142;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--header-font);
  font-weight: bold;
}

h2 {
  font-size: 36px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

nav {
  padding: 15px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
.logo {
  max-height: 40px;
}

nav li {
  text-decoration: none;
  display: inline;
  margin-right: 20px;
  line-height: 42px;
}

nav a {
  text-decoration: none;
  color: var(--accent-header-color);
}
nav a:hover {
  color: var(--branding-color);
  transition: 100ms;
}
nav li.active a {
  text-decoration: underline;
}
.hero {
  text-align: center;
  background: #f9f7fe;
  padding: 160px 20px;
}

.hero p {
  font-family: var(--default-font);
  font-weight: bold;
  font-size: 36px;
}
.hero h1 {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 96px;
}
.hero h2 {
  font-family: var(--header-font);
  font-size: 24px;
  color: var(--accent-header-color);
  line-height: 2;
}

.btn-branding {
  background: #6c63ff;
  border-radius: 4px;
  padding: 18px 30px;
  color: white;
  font-size: 18px;
  line-height: 27px;
}
.btn-branding-outline {
  border-radius: 4px;
  padding: 18px 30px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
}

.project-description {
  padding: 120px 60px;
}

.about-content {
  margin: 30px;
}

.about-content h1 {
  font-size: 55px;
  font-weight: bold;
}
.about-content h3 {
  font-family: var(--default-font);
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--accent-header-color);
}
.about-content p {
  font-size: 16px;
  line-height: 30px;
  color: var(--accent-header-color);
}

.work-header {
  margin: 50px;
}
.work-header h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 85.31px;
}

.work-content {
  text-align: center;
}

.work-content h3 {
  font-family: var(--default-font);
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.work-content p {
  font-size: 14px;
  line-height: 21px;
  color: var(--accent-header-color);
  margin-top: 0px;
}
.contact {
  margin: 40px;
}
.contact h1 {
  font-size: 64px;
  margin-bottom: 40px;
  font-weight: bolder;
}
.contact h3 {
  font-family: var(--default-font);
  font-weight: 700;
}
@media (max-width: 960px) {
  .project-description {
    text-align: center;
    padding: 0px;
  }
  .hero {
    padding: 20px 50px;
  }
  .hero h1 {
    font-size: 50px;
  }
  .hero h2 {
    font-size: 20px;
  }
  .hero p {
    font-size: 25px;
  }
  .description-row {
    margin-bottom: 20px;
  }
  p {
    line-height: 20px;
  }
  .about-content {
    text-align: center;
  }
  .about-content h1 {
    font-size: 36px;
  }
  .about-content h3 {
    font-size: 15px;
  }
  .about-content p {
    line-height: 20px;
  }
  .about-content img {
    margin-top: 30px;
  }
  .work-header h1 {
    font-size: 40px;
    line-height: 45px;
  }
  .work-header {
    margin-bottom: 20px;
    text-align: center;
  }
  .contact {
    text-align: center;
    margin: 40px;
  }
  .contact h1 {
    font-size: 45px;
  }
}
